<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Fats</th>
        <th scope="col">Carbohydrates</th>
        <th scope="col">Calories</th>
        <th scope="col">Protiens</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of todayList; let i = index">
        <th scope="row">{{item.name}}</th>
        <td>{{item.quantity}}</td>
        <td>{{item.fats}}</td>
        <td>{{item.carbohydrates}}</td>
        <td>{{item.calories}}</td>
        <td>{{item.protiens}}</td>
        <td><button class="btn btn-danger" *ngIf="!item.last"(click)="remove(i)">Remove</button></td>
      </tr>
    </tbody>
  </table>
