<header>
  <div class="d-flex " >
    <div class="" style="width: 200px;"></div>
    <div class="">LOGO</div>
    <div class="ms-auto ">{{myDate}}</div>
  </div>

</header>
<section>
  <nav>
    <a routerLink="list"> 
      <i class="fa fa-list" style="font-size:30px;color:white"></i>  Food List
    </a>
    <a routerLink="today"> 
      <i class="fa fa-calendar" style="font-size:30px;color:white"></i> Today
    </a>
    <a routerLink="chart"> 
      <i class="fa fa-pie-chart" style="font-size:30px;color:white"></i> Chart
    </a>
  </nav>
  
  <article>
    
<div class="content">
  <router-outlet></router-outlet>
</div>
  </article>
</section>
<footer>
 <p> &copy; All rights reserved, 2022.</p>
</footer>